
.post-content.post-content-editor {
	height: auto;
	line-height: 1;
}
.post-content-editor [contenteditable] {
	height: 300px;
	overflow: auto;
}
.post-content-editor button {
    width: 30px;
    height: 30px;
}
.post-content-editor button > span:only-child {
    width: 22px;
    height: 22px;

    background-size: 22px;	
}
.IconButton__icon-image___1gW7U {
	background-image: url("linkImage.png");
}
