
.post-content.post-content-editor {
	height: auto;
}
.post-content-editor [contenteditable] {
	height: 200px;
	line-height: 1;
	margin-top: -8px;
}
.post-content-editor button {
    width: 30px;
    height: 30px;
}
.post-content-editor button > span:only-child {
    width: 22px;
    height: 22px;

    background-size: 22px;	
}