body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  font-size: 16px;
}

* {
  box-sizing: inherit;
}

button {
  cursor: pointer;
}

.first-login {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.first-login-button {
  margin-top: 20px;
}

.google-login-button {
  ßbackground-repeat: no-repeat;
  border: none;
  width: 191px;
  height: 46px;
  text-indent: -9999%;
  white-space: nowrap;
}

.google-login-button-diableled {
  background-image: url(/1x/btn_google_signin_dark_disabled_web.png);
  cursor: auto;
}

.google-login-button-reddy {
  background-image: url(/1x/btn_google_signin_dark_normal_web.png);
}
.google-login-button-reddy:focus {
  background-image: url(/1x/btn_google_signin_dark_focus_web.png);
  outline: none;
}

.google-login-button-reddy:hover {
  background-image: url(/1x/btn_google_signin_dark_focus_web.png);
}

.google-login-button-reddy:visited {
  background-image: url(/1x/btn_google_signin_dark_pressed_web.png);
}

.first-login-image {
  margin-top: -30px;
}

.button-secondary {
  border: 1px solid #2B4A9F;
  color: #2B4A9F;
  border-radius: 6px;
  font-size: 20px;
  background: #FFF;
  padding: 10px 30px;
}

.button-main {
  background: #2B4A9F;
  color: #FFF;
  padding: 10px 30px;
  border: none;
  font-size: 20px;
  border-radius: 6px;
}

.button-spaced {
  margin: 0 0 0 20px;
}