.ReactModal__Overlay.ReactModal__Overlay--after-open {
    background-color: rgba(0,3, 51, 0.6);
    border: blue;
}

.title-bg {
    background-color: #BF202F;
    flex-direction: row;
    display: flex;
    color: white;
    font-size: 20px;
}

.message-bg {
    background-color: white;
    color: #606261;
    padding: 20px;
}

.error-body {
    background-color: #fff;
    font-family: 'Raleway';
    font-size: 20px;
}

.close-button {
    background: none;
    border: none;
    color: white;
    margin-left: 342px;
    font-size: 25px;
}

.fa-exclamation-circle {
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 0.83em;
    font-size: 28px;
    margin-left: auto;
}

.triangle {
    width: 0;
	height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 15px solid white;
    margin-left: auto;
    margin-right: auto;
}

.alert-title-bg {
    background-color: #fff;
    flex-direction: column;
    display: flex;
    color: #606261;
    font-size: 20px;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.mainAction {
    padding: 20px;
    background-color: #2B4A9F;
}

.secondaryAction {
    padding: 20px;
    border: solid 2px #fff;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #BF202F;
    padding: 10px;
}

.alert-body {
    background-color:#BF202F;
    font-family: 'Raleway';
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.alert-title {
    color: #606261;
    font-size: 20px;
    font-family: Raleway;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px
}

.alert-main-message {
    color: #606261;
    font-size: 35px;
    font-family: Raleway;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px
}

.alert-message {
    color: #606261;
    font-size: 20px;
    font-family: Raleway;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px
}

.button-ghost{
    color: white;
    border-color: white;
    background: none;
}

.button-alert {
    margin: 10px;
    min-width: 120px;
}