.nav {
    width: 80px;
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #2B4A9F; 
    display: flex;
    flex-direction: column;
}

.nav-icon {
    color: #FFF;
    font-size: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0;
}

.button-logout {
    appearance: none;
    border: none;
    background: transparent;
    color: #FFF;
    margin-top: auto;
}

.nav-logout-label {
    display: block;
    margin-top: 10px;
    font-size: 16px;
}

.main {
    padding-left: 80px;
}

.block{
    padding: 20px;
}

.circle {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
}
.circle-green {
    background-color: #29B04A;
}
.circle-yellow {
    background-color: #FEDA00;
}
.circle-red {
    background-color: #BF202F;
}
.color-green {
    color: #29B04A;
}
.color-yellow {
    color: #FEDA00;
}
.color-red {
    color: #BF202F;
}

.block-title {
    margin: 0 0 0 10px;
    font-size: 20px;
}

.block-header {
    display: flex;
    align-items: center;
}

.block-content {
    margin: 20px 0 0 40px;
}

.block-status {
    margin-left: auto;
}

.post-header {
    display: flex;
    box-shadow: #CCC 0 2px 10px;
}

.post-header-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #606261;
    border: none;
    background: transparent;
    font-size: 40px;
    margin-left: 20px;
    padding: 0 5px;
}

.post-header-button-label {
    margin-top: 10px;
    font-size: 16px; 
}

.post-header-logo {
    height: 60px;
    margin: 20px 0 20px 40px;
}

.post-header-buttons {
    margin-left: auto;
    margin-right: 40px;
    display: flex;
}

.post-page-title {
    margin: 0;
    font-size: 30px;
    padding: 40px;
}

.post-footer {
    display: flex;
    justify-content: flex-end;
}

.post-padding {
    padding: 40px;
}

.post-fields-wrapper {
    padding: 0 40px;
    display: flex;
}

.post-footer {
    padding: 0 40px 40px 40px;
}

.post-field {
    border-radius: 10px 10px 0 0;
    border: 1px solid #E5E5E5;
    margin-bottom: 40px;
    overflow: hidden;
}

.post-field-focused {
    background: #66C7C0;
    border: 1px solid #66C7C0;
}

.post-field-title {
    display: block;
    padding: 10px;
    background: #E5E5E5;
    line-height: 125%;
    font-weight: bold;
}

.post-field-title-focused {
    background: #66C7C0;
}

.post-title-input {
    width: 100%;
    border: none;
    font-size: 16px;
    padding: 10px;
}

.post-content {
    width: 100%;
    height: 200px;
    border: none;
}

.post-main {
    width: 70%;
    margin-right: 40px;
    line-height: 0; /* Prevents space under textarea */
}

.post-secondary {
    flex-grow: 1;
}

.label-select {
    border: none;
    width: 100%;
    font-size: 16px;
    padding: 10px;
}

.Content-Css{
     border-color: black;
    border-style: solid;

}

.block-align-div{
    margin-left: auto;
    
}

.block-align-span{
    display: block;
}